@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Poppins&family=Roboto:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

.page-container {
  padding: 10px 50px;
}

.page-title {
  font-family: 'Poppins';
  font-weight: 300;
  color: #328321;
  font-size: 28px;
}

#project-list {
  /* --gap: 10px;
  --num-cols: 3;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-title--btn {
  color: #F7630C;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 28px;
}

.page-title--btn:hover {
  transform: scale(1.2);
}

.img--project-page {
  max-width: 400px;
  max-height: 400px;
}